body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
article {
  border: 1px solid #000;
  display: inline;
  float: left;
  overflow: hidden;
  width: 700px;
  margin: 0 10px;
  *width: 700px -correction;
  *margin: 0 10px -correction;
}
section {
  border: 1px solid #000;
  display: inline;
  float: left;
  overflow: hidden;
  width: 220px;
  margin: 0 10px;
  *width: 220px -correction;
  *margin: 0 10px -correction;
}
