<span name="path" title="{{model.path}}">
  <span class="icons fa-stack" ng-click="check()">
    <i class="fa fa-stack-1x" ng-class="fontAwesomeClass()"></i>
    <i ng-show="model.checked" class="fa fa-check fa-stack-1x"
       ng-class="{fade: faded()}"></i>
  </span>
  <span ng-click="expandOrCheck()">
    {{model.fileName}}
  </span>
</span>

<div ng-show="model.expanded">
  <i ng-if="loading" class="fa fa-spin fa-refresh"></i>
  <file-tree model="model.children" ng-if="model.type == 'dir'"></file-tree>
</div>
